{template 'common/header'}
<script>
    var stroge=window.localStorage;
    stroge.getItem('formData');

</script>
<style>
    .cardbox{

        position: relative;
        /*background:red;*/
    }
   .dels{
    position: absolute;
    top:0px;
    right:40%;
   }

    .toast{
        width:100px;
        height:40px;
        background:transparent;
        background:rgba(0,0,0,0.5);
        border-radius:8px;
        position: fixed;
        margin:auto;left:0; right:0; top:0; bottom:0;
        z-index: 999;
        text-align: center;
        line-height: 40px;
        color: white;
    }
</style>
<div class=" toast" id="loading" style="display: none"><span>提交中...</span></div>

{if $op == 'content'}

<div class="pull-right">
    <a href="{php echo $this->createWeburl('choujiang_express', array('op'=>'post'));}"  class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">添加物流</a>
</div>
<form class="form-horizontal" action="" method="post" class="form1">

    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <th style="width: 50px;"><input type="checkbox"  onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" name=''></th>
            <td style="width: 100px;">ID</td>
            <td>物流公司</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $expressList $item}
        <tr>
            <td><input type="checkbox" value="{$item['id']}" name="deleteall[]"></td>
            <td>
                {$item['id']}
            </td>

            <td>
                {$item['express_name']}
            </td>
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('choujiang_express', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('choujiang_express', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
    <table class="table">
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="删除" name="submit" style="height: 30px;">
            </td>
        </tr>
    </table>
    <div style="margin:0 auto;margin-right: auto;vertical-align: middle;text-align: center;" >
        {$pager}
    </div>
</form>
<script type="text/javascript">
    $('.form1').submit(function(){
        if($(":checkbox[name='deleteall[]']:checked").size() > 0){
            return confirm('删除后不可恢复，您确定删除吗？');
        }
        return false;
    });

    ///分页处理 - start
    $('#submitForm').click(function(){
        $('.form-horizontal').prop('action', '');
        $("button[type='submit']").click();
    });
    var status=$("#status").val();
    if(status){
        $('.pagination li').each(function(e){
            var href = $('.pagination li').eq(e).find('a').attr('href');
            $('.pagination li').eq(e).find('a').attr('href','javascript:;');
            $('.pagination li').eq(e).find('a').attr('data-href', href);
        });
        $('.pagination li a').click(function(){
            var href = $(this).attr('data-href');
            $('.form-horizontal').prop('action', href);
            $("button[type='submit']").click();
        });
    }

    ///分页处理 - end
</script>
{/if}

<!-- 编辑新增 -->
{if $op == 'post'}
<div class="pull-left">
    <a href="javascript:" onclick="self.location=document.referrer;" class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">返回</a>
</div>
<br/>
<br/>
<form class="form-horizontal" action="{php echo $this->createWeburl('Choujiang_express', array('id' => $item['id'], 'op' =>'add'))}" method="post">
    <input type="hidden" name="submit" value="1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">物流管理 <span style="color:#7E7E7E;font-size:13px;margin-left:10px"></span></h3>
        </div>
        <div class="panel-body">
            <div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="{$expressInfo['id']}">
                        <label for="" class="control-label col-sm-2"><font style="vertical-align: middle;color: red">*</font>物流公司</label>
                        <div class="form-controls col-sm-5" style="margin-left: 15px;">
                            <input type="text" name="express_name" id="express_name" value="{$expressInfo['express_name']}" maxlength="15" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-controls col-sm-3 help-block">不能超过15个字</div>
                    </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <span class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <span class="btn btn-primary col-lg-1" id="hidpost"  style="margin-left: 45%;">提交 </span>
            <span class="btn btn-primary col-lg-1" id="post"  style="margin-left: 45%;">提交 </span>
        </div>
    </div>
</form>
<input type="hidden" value="0" id="Infos">

<!-- 选择用户 -->
<div class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" style="width:800px;top:360px;">

        <div class="modal-content">

            <input type="hidden" name="m" value=""/>

            <div class="modal-header">

                <button type="button" class="close close_user" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>

                    <h4>选择用户</h4>

            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="input-group">

                        <input type="text" class="form-control" name="keyword" value="" id="keyword_user" placeholder="请输入用户名称关键字">

                        <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="search_users();">搜索</button></span>

                    </div>

                </div>

                <div id="module-menus" style="padding-top:5px;"><div style="max-height:500px;overflow:auto;min-width:750px;">

                    <table class="table table-hover" style="min-width:750px;">

                        <tbody id="user_list">

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{/if}
{template 'common/footer'}

<script>
    $(document).ready(function () {
        var version=$("select[name='cj[is_zq]']").val();
        var is_pintuan = $("[name='cj[is_pintuan]']:checked").val();
        if(version==1){
            $("#version").css('display','block')
            if(is_pintuan==1){
                $("#is_pintuan").css('display','block')
            }
        }

        $('#hidpost').hide();
    })

    $('#post').on('click',function () {
        var spanobj= $('#post');
        var spanobjP=$('#hidpost');
        spanobj.hide();
        spanobjP.show();
        if($('#express_name').val()==''){
            alert('物流公司不能为空！');
            spanobj.show();
            spanobjP.hide();
            return false;
        }
        $("#loading").css('display','block')
        $.post($('form').attr('action'),$('form').serialize(),function (res) {
            var response = eval("(" + res + ")");
            $("#loading").css('display','none')
            if(response.type=='success'){
                alert(response.message);
                location.href=response.redirect;
            }else{
                spanobj.show();
                spanobjP.hide();
                alert(response.message);
            }
        })
    })

    function limitNum() {
        var num=$("#goods_num").val();
        var people=$("input[name='cj[smoke_num]']").val();
        if(num>100000){
            $("#goods_num").val(100000);
        }
        if(people>1024){
            $("input[name='cj[smoke_num]']").val(1024)
        }
    }
    $(document).ready(function () {
        var img=$("input[name='img_url']").val();
        $("input[name='cj[goods_icon]']").parent().next().find(".img-responsive").attr('src', img);
    })

    $(".btn_seluser").click(function(){

        $('#user-info').modal('show');
        $('#Infos').val(0);

    });
    $(".btn_seluser1").click(function(){
        var user_nicknames = $("#user_nicknames").val();
        var goods_num = $("#goods_num").val();
        $('#Infos').val(1);
        $('#user-info').modal('show');

    });
    $("#kjfs").change(function(){
        var index = $(this).children('option:selected').val();
        if(index == 0){
            $("#kjsj").css("display","block");
            $("#kjrs").css("display","none");
        }else if(index == 1){
            $("#kjsj").css("display","none");
            $("#kjrs").css("display","block");
        }else{
            $("#kjsj").css("display","none");
            $("#kjrs").css("display","none");
        }
    });

$("#card").on("click",".cardbox button",function(){
    $(this).parent().remove();
});
    $("#good_lb").change(function(){
        var index = $(this).children('option:selected').val();
        if(index == 0){
            $("#shiwu").css("display","block");
            $("#hongbao").css("display","none");
            $("#dianzika").css("display","none");
        }else if(index == 1){
            $("#shiwu").css("display","none");
            $("#hongbao").css("display","block");
            $("#dianzika").css("display","none");
        }else{
           $("#shiwu").css("display","none");
            $("#hongbao").css("display","none");
            $("#dianzika").css("display","block");
        }
    });

$("#addCard").click(function(){
    $("#card").append(
            '<div class="cardbox">'+
                '<div class="form-group">'+
                    '<label for="" class="control-label col-sm-2">卡号</label>'+
                    '<div class="form-controls col-sm-5" style="margin-left: 15px;">'+
                        '<input type="text" name="card_number[]" value="" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">'+
                    '</div>'+
                    '<div class="col-sm-1"></div>'+
                    '<div class="form-controls col-sm-3 help-block">电子卡号</div>'+
                '</div>'+
                '<div class="form-group">'+
                    '<label for="" class="control-label col-sm-2">密码</label>'+
                    '<div class="form-controls col-sm-5" style="margin-left: 15px;">'+
                        '<input type="text" name="card_password[]" value="" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">'+
                    '</div>'+
                    '<div class="col-sm-1"></div>'+
                    '<div class="form-controls col-sm-3 help-block">电子卡密码</div>'+
                '</div>'+
                '<button class="dels">删除</button>'+
            '</div>'
        )
});

function search_users(){

    var keyword_user=$("#keyword_user").val();
    var machine_canyu=$("#machine_canyu").val();

    $("#user_list").empty();

    $.ajax({
        type: 'post',
        dataType: 'json',
        url: "{php echo $this->createWebUrl('choujiang_goods',array('op' =>'user'))}",
        data: {keyword_user: keyword_user, machine_canyu: machine_canyu},

        success:function(result){

            if(result.data == ''){

                var html = '未找到该用户...'
                $("#user_list").append(html);

            }else{
                var html=getuserRows(result.data);

                $("#user_list").append(html);
            }

        }
    });
}
function  seluser(){

    var user_nickname = $("#user_nickname").val();

    if(user_nickname !=''){

        $.ajax({
            type: 'post',
            dataType: 'json',
            url: "{php echo $this->createWebUrl('choujiang_goods',array('op' =>'user'))}",
            data: {user_nickname: user_nickname},

            success:function(result){

                if(result.success == 1){

                    $("#select_uid").val(result.data);

                }else{

                    alert(result.data);

                }
            }
        });

    }



}

function getuserRows(data){

    var html='';

    for(i=0;i<data.length;i++){

        html+='<tr>';

        html+='<td><img src="'+data[i].avatar+'" style="width:30px;height:30px;padding1px;border:1px solid #ccc"> '+data[i].nickname+'</td>';

        html+='<td></td>';

        html+='<td></td>';

        html+='<td style="width:80px;"><a href="javascript:;" onclick="select_user(this)" link_name='+data[i].nickname+' user_uid='+data[i].openid+'>选择</a></td>';

        html+='</tr>';

    }

    return html;

}

function select_user(obj){
    var infos = $('#Infos').val();

    if(infos == 0){

       $("#user_nickname").val($(obj).attr('link_name'));

       $("#select_uid").val($(obj).attr('user_uid'));
    }else if(infos == 1){
        var user_nicknames = $("#user_nicknames").val();

        if(user_nicknames == ''){
            var str_user = $(obj).attr('link_name');
        }else{
            var str_user = user_nicknames+'++'+$(obj).attr('link_name');
        }

        $("#user_nicknames").val(str_user);
        // $("#select_uid1").val(str_uid);
    }



   $('#user-info').modal('hide');

   $("#keyword_user").val('');

   $("#user_list").html('');

}
</script>
<!-- 是否指定中奖者 -->
<script type="text/javascript">
    $(document).ready(function(){
        var val = $(".onclick:checked").val();
        var val1 = $(".onclick1:checked").val();
        if(val == 1){
            $('.goods_winning').attr("style","");
        }else{
            $('.goods_winning').attr("style","display:none");
        }
        $('.onclick').click(function(){
            var type = $(this).val();
            if(type == 1){
                $('.goods_winning').attr("style","");
            }else{
                $('.goods_winning').attr("style","display:none");
            }
        })
        if(val1 == 1){
            $('.price_join').attr("style","");
        }else if(val1 == 2){
            $('.mouth_join').attr("style","");
        }else{
            $('.price_join').attr("style","display:none");
            $('.mouth_join').attr("style","display:none");
        }
        $('.onclick1').click(function(){
            var type = $(this).val();
            // alert(123);
            if(type == 1){
                $('.mouth_join').attr("style","display:none");
                $('.price_join').attr("style","");
            }else if(type == 2){
                $('.price_join').attr("style","display:none");
                $('.mouth_join').attr("style","");
            }else{
                $('.price_join').attr("style","display:none");
                $('.mouth_join').attr("style","display:none");
            }
        })
    })
</script>
